::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.clear {
  clear: both
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table
}

.clearfix::after {
  clear: both
}

.clearfix {
  zoom: 1
}

.float_left {
  float: left
}

.float_right {
  float: right
}

.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease
}

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease
}

.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease
}

.fill_height {
  height: 100%
}

.super_container {
  width: 100%;
  overflow: hidden
}

.prlx_parent {
  overflow: hidden
}

.prlx {
  height: 130% !important
}

.nopadding {
  padding: 0px !important
}

.trends {
  padding-top: 80px;
  padding-bottom: 80px
}

#ultimo-cadastro .trends {
  padding-top: 40px;
  padding-bottom: 80px
}

.bbb_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(203, 225, 238, 0.3)
}

.bbb_container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right: 40px
}

.bbb_title {
  padding-right: 50px
}

.bbb_text {
  margin-top: 17px
}

.bbb_text p:last-child {
  margin-bottom: 0px
}

.bbb_slider_nav {
  margin-top: 27px
}

.bbb_nav {
  display: inline-block;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-right: 16px;
  background-color: #fb8823
}

.bbb_nav:last-child {
  margin-right: 0px
}

.bbb_nav i {
  line-height: 36px;
  color: #fff;
  font-size: 18px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease
}

.bbb_nav:hover i {
  color: #474747
}

@media only screen and (max-width: 991px) {
  .bbb_slider_container {
    margin-top: 15px
  }
}