<!-- Modal -->
<div th:fragment="modal" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">TERMO DE CONSENTIMENTO E ACORDO - TROCABEER</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<p>Este Termo de Consentimento e Acordo ("Acordo") regula o uso da plataforma TrocaBeer ("Plataforma"),
					fornecida por Matheus Alexandre Silva, com a finalidade de conectar entusiastas da cerveja
					artesanal. Ao
					utilizar a Plataforma, você concorda com os termos e condições estabelecidos neste Acordo.
					Certifique-se
					de ler atentamente e compreender todas as disposições antes de prosseguir.</p>

				<p><strong>1. Modalidades de Usuário</strong></p>

				<p>A Plataforma TrocaBeer oferece duas modalidades de usuário:</p>

				<p><strong>a. Mestre Cervejeiro:</strong> Destinado a indivíduos que produzem cerveja e desejam trocar
					suas
					criações com
					apreciadores ou mestres cervejeiros, bem como adquirir apoio para produzir suas cervejas. O
					uso da
					modalidade Mestre Cervejeiro pode estar sujeito a taxas de acordo com nossa política comercial.</p>

				<p><strong>b. Apreciador:</strong> Designado para amantes de cerveja que buscam opções artesanais. A
					plataforma conecta
					consumidores a produtores locais, apresentando produtos classificados por estilos de cerveja. O
					acesso
					para apreciadores é sempre gratuito.</p>

				<p><strong>2. Compromissos e Responsabilidades</strong></p>

				<p>Ao utilizar a Plataforma TrocaBeer, você concorda em cumprir os seguintes compromissos e reconhece as
					responsabilidades:</p>

				<p><strong>a. Conduta Adequada:</strong> Você se compromete a não enviar mensagens ofensivas,
					discriminatórias ou que
					violem os direitos de terceiros, incluindo direitos de propriedade intelectual.</p>

				<p><strong>b. Idade Mínima:</strong> É obrigatório que você tenha mais de 18 anos para utilizar a
					Plataforma. Não
					realizamos verificação da idade, confiando na veracidade das informações fornecidas.</p>

				<p><strong>c. Contas Desativadas:</strong> Caso sua conta tenha sido desativada anteriormente devido a
					violações dos
					termos ou políticas da Plataforma, você não terá permissão para criar uma nova conta.
				</p>
				<p><strong>d. Não Responsabilidade por Entregas e Intoxicações:</strong> A TrocaBeer não se
					responsabiliza
					por qualquer
					não entrega de cervejas relacionada a acordos de apoio ou trocas realizadas entre os usuários da
					Plataforma. Além disso, não é responsabilidade da TrocaBeer qualquer intoxicação ou problema
					relacionado
					ao consumo de cervejas obtidas através da Plataforma.
				</p>
				<p><strong>3. Suporte e Manutenção do Sistema</strong>
				</p>
				<p>A TrocaBeer oferece suporte e manutenção para a Plataforma nos seguintes termos:
				</p>
				<p><strong>a. Suporte Inicial:</strong> O suporte inicial será prestado via WhatsApp nos dias úteis
					durante
					o horário
					comercial. Garantimos um atendimento respeitoso e eficiente, com foco em solucionar suas dúvidas e
					questões relacionadas à Plataforma. Toda solicitação de suporte será analisada adequadamente.
				</p>
				<p>Este Acordo estabelece os termos e condições para o uso da Plataforma TrocaBeer e é considerado um
					acordo legal entre você e a TrocaBeer. Ao continuar a usar a Plataforma, você concorda com todas as
					disposições deste Acordo.
				</p>
			</div>

		</div>
	</div>
</div>